body {
    background-image: url('photos/DanielNguyen-DavidYun 2.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    /* Additional styles */
}
